*{
  font-family: "Avenir","Roboto", Helvetica, Arial;
}

body {
  background: #ddd;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  margin: 0;
  padding: 30px;
  box-sizing: border-box;
  font-family: sans-serif; }

body.stage, body.live {
  background: white;
  background-size: 100% auto;
  background-position:  center 70%;
  color: #666;
  border: 10px solid #ddd;
  width: 100vw;
  height: 100vh;
}

body.live{
  border: none;
  margin:0;
  padding: 0;
}

.stage #content{
	width:90%;
	margin:auto;
}
.stage button{
  background: #ddd;
  border: none;
  border-radius:15px;
  padding: 5px 10px;
}
.stage .btns{
  margin-bottom: 20px;
}

.stage .redbutton{
	background-color: red;
	color:white;
}

.stage #captureButton{
  background-color: green;
  color:white;
}

.stage #stopButton{
  background-color: red;
  color:white;
}
.live canvas, .stage canvas { 
    display: inline-block; 
    background: #ddd; 
    width: 50%;
    height: 20%;
    box-shadow: 0px 0px 10px blue;
}

.live canvas { 
    display: block;
    width: 100%;
    height: 100%;
    
    
}
.stage canvas {
    background: #ddd;  
}