<!doctype html>
<html>
  <head>
    <title>LIVE</title>
    
    <!-- build:css /styles/main.min.css -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- endbuild -->

  </head>
  <body class="live">
    <div id="content">
        <h2>LIVE!</h2>
        <canvas id="analyserHTMLcanvas" width="1024" height="400"></canvas
        ><div id="output">OUTPUT HERE</div>
    </div>

  </body>

    <!-- build:js /scripts/main.min.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/three.js/three.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/stage.min.js -->
    <script src="/scripts/libs/Analyser.js"></script>
    <script src="/scripts/libs/Drawer.js"></script>
    <script src="/peerjs/peer.js"></script>
    <script src="/scripts/live.js"></script>
    <!-- endbuild -->

</html>
