<!doctype html>
<html>
  <head>
    <title>LIVE</title>

    <!-- build:js /scripts/main.min.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/three.js/three.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/live.min.js -->
    <script src="/scripts/live.js"></script>
    <!-- endbuild -->

    <!-- build:css /styles/main.min.css -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- endbuild -->

  </head>
  <body>
    <h2>This is where the main graphics will be loaded (<strong>index.html</strong>)</h2>
    <button onclick="javascript:Live.clickRedBtn();">RED BUTTON</button>
  </body>
</html>
