<!doctype html>
<html>
  <head>
    <title>STAGE</title>

    <!-- build:js /scripts/main.min.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/three.js/three.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/stage.min.js -->
    <script src="/recordrtc/RecordRTC.js"></script>
    <!-- <script src="/scripts/libs/recorder.js"></script> -->
    <script src="/scripts/stage.js"></script>
    <!-- endbuild -->

    <!-- build:css /styles/main.min.css -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- endbuild -->

  </head>
  <body>
    <h2>This is where the controllers will be loaded</h2>
    <button onclick="javascript:Stage.clickRedBtn();">RED BUTTON</button>

    <button onclick="javascript:Stage.captureAudio();">CAPTURE AUDIO</button>

    <div id="output">OUTPUT HERE</div>

  </body>
</html>
