<!doctype html>
<html>
  <head>
    <title>STAGE</title>

    <!-- build:css /styles/main.min.css -->
    <link href="/styles/main.css" rel="stylesheet">
    <!-- endbuild -->

  </head>
  <body class="stage">
    <div id="content">
        <h2>STAGE - where controllers will be loaded</h2>

        <div class="btns">
            <button class="redbutton" onclick="javascript:Stage.clickRedBtn();">RED BUTTON</button>
            <br/>
            <br/>
            <button id="captureButton" onclick="javascript:Stage.captureAudio();">CAPTURE AUDIO</button>
            <button id="stopButton" onclick="javascript:Stage.stopAudioCapture();Stage.stopDrawings();">STOP CAPTURE</button>
            <button onclick="javascript:Stage.changeColor();">CHANGE COLOR</button>
        </div>

        <canvas id="analyserHTMLcanvasStage" width="1024" height="400"></canvas
        ><div id="output">OUTPUT HERE</div>


        <div class="select">
          <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
        </div>
        <div class="select">
          <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
        </div>

        <div class="select">
            <label for="videoSource">Video source: </label><select id="videoSource"></select>
        </div>

        <video id="video" autoplay></video>


    <a href="https://github.com/webrtc/samples/tree/gh-pages/src/content/devices/input-output" title="View source for this page on GitHub" id="viewSource">View source on GitHub</a>


    </div>

  </body>

    <!-- build:js /scripts/main.min.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/peerjs/peer.js"></script>
    <script src="/three.js/three.js"></script>
    <!-- endbuild -->

    <!-- build:js /scripts/stage.min.js -->
    <script src="/scripts/libs/Analyser.js"></script>
    <script src="/scripts/libs/Drawer.js"></script>
    <script src="/scripts/stage.js"></script>
    <!-- endbuild -->

</html>
